@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

$green: #589e21;
$white: #f8efe5;
$black: #1a0a00;
$orange: #f9951b;

body {
  font-family: 'Lato', sans-serif;
  background: $white;
}

div {
  box-sizing: border-box;
}

a {
  color: $green;
  transition: all 0.3s;
}

strong {
  font-weight: bold;
}

.phone {
  font-size: 22px;
  color: $green;
  text-decoration: none;
  font-weight: bold;
  display: block;
  position: relative;
  padding-left: 24px;

  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 0;
    background: url('../img/phone.png') no-repeat;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  color: $green;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 215px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid $green;
  text-decoration: none;
  height: 45px;
  line-height: 23px;
  font-weight: bold;

  &:hover {
    background: $green;
    color: #fff;
  }
}


header {
  .row-1 {
    .container {
      min-height: 160px;
      padding: 30px;
    }

    .button {
      top: -3px;
      position: relative;
    }

    .content {
      flex-basis: 900px;
      align-items: flex-end;
    }

    .time-work {
      font-size: 22px;
      line-height: 1.1;
    }
  }
}


.cart {
  position: relative;
  top: -2px;

  .counter {
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border: 2px solid $green;
    font-size: 12px;
    color: $black;
    border-radius: 50%;
    text-align: center;
    line-height: 12px;
    position: absolute;
    top: 4px;
    right: -14px;
  } 
}


.mob-search {
  display: none;
  button {
    padding: 0;
    border: none;
    background: no-repeat;
  }
}

@media screen and (max-width: 1169px)
{
  .mob-search {
    display: block;
    margin-right: 40px;
  }

  header {
    .time-work {
      display: none;
    }

    .button {
      display: none;
    }

    .row-1 {
      .content {
        flex-basis: 455px;
      }
    }
  }
}

@media screen and (max-width: 767px)
{
  header {
    .row-1 {

      .content {
        flex-basis: 220px;
      }

      .wrap {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 449px)
{
  header {
    .row-1 {
      .logo {
        margin: auto;
        margin-bottom: 20px;
      }

      .content {
        margin: auto;
      }
    }
  }
}