$orange: #b6412b;
$orangeDark: #71281a;
$grey: #666666;
$light_grey: #efefef;
$black: #1e0f00;
$yellow: #ffedb8;


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext,latin-ext');

* {
  outline: none!important;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: $grey;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.about {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pb0 {
  padding-bottom: 0!important;
}

.text-center {
  text-align: center;
}



h1 , h2 , h3 , h4 {
  flex-basis: 100%;
  width: 100%;
}



h2 , h1 {
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 50px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: $black;
  margin: 0;
}

p {
  flex-basis: 100%;
}

.ovv {
  overflow: visible!important;
}

.recom-slider {
  .slick-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .slick-slide {
    margin-right: 20px;
  }

  .slick-dots {
    bottom: -40px;

    li {
      button {
        border-color: $orange;
      }

      &.slick-active {
        button {
          background: $orange;
        }
      }
    }
  }
}

.popup-content {
  display: none;
}

input[type=text],
input[type=email],
input[type=tel]
{
  display: block;
  width: 100%;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  height: 45px;
  padding: 20px;
  transition: all 0.3s;
  margin-bottom: 20px;

  &:focus {
    border-color: $orange;
  }
}

textarea {
  resize: none;
  min-height: 110px;
  width: 100%;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.3s;

  &:focus {
    border-color: $orange;
  }
}

label {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.popup-content  {
  .button {
    width: 100%;
    max-width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }
}

.product-container {
  // max-width: 263px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.3);
  padding-top: 20px;

  .vm-product-descr-container-1 {
    text-align: center;
  }
  
  a {
    color: $black;
  }

  .ssilka {
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    font-size: 16px;
  }

  .product_s_desc {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .PricesalesPrice {
    text-align: center;
    font-size: 18px;
    color: $black;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  img {
    width: 100%;
  }

  input.addtocart-button {
    background-color: $orange;
    color: #fff;
    height: 48px;
    width: 132px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    box-shadow: none;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 48px;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-position: 22px 14px;

    &:hover {
      background-color: $orangeDark;
    }
  }

  .addtocart-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $light_grey;
  }

  .kol_vo {
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
  
    .quantity-box {
      &:after {
        content: 'Шт.';
        font-size: 12px;
        color: #a4a4a4;
      }
    }
    
    .quantity-input {
      width: 35px;
      height: 27px;
      text-align: center;
      border: 1px solid #666;
      box-sizing: border-box;
      font-size: 14px;
    }
  
        input.addtocart-button {
        background-color: $orange;
        color: #fff;
        height: 48px;
        width: 132px;
        text-transform: uppercase;
        font-size: 14px;
        border: none;
        box-shadow: none;
        transition: all 0.3s;
        cursor: pointer;
        box-sizing: border-box;
        padding-left: 48px;
        background-image: url('../img/cart.png');
        background-repeat: no-repeat;
        background-position: 22px 14px;
  
        &:hover {
          background-color: $orangeDark;
        }
      }
  
    .quantity-minus {
      background: url('../img/back.png') center no-repeat;
      border: 0;
      width: 6px;
      height: 12px;
      cursor: pointer;
      margin-right: 6px;
    }

    .PricesalesPrice {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 10px;
    }


  
    .quantity-plus {
      background: url('../img/next.png') center no-repeat;
      border: 0;
      width: 6px;
      height: 12px;
      cursor: pointer;
      margin-left: 0;
    }
  }
  
}




.product-info {
  max-width: 800px;


  .PricesalesPrice {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: $black;
  }


  
  .images {
    flex-basis: 400px;
    max-width: 400px;
    width: 100%;
    border: 2px solid $light_grey;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

    .big-img-slider {
      .slide {
        position: relative;
        width: 100%;
        height: 395px;
      }
    }

    .small-img-slider {
      .slide {
        position: relative;
        width: 100%;
        height: 100px;
      }

      .slick-slide {
        border: 1px solid $light_grey;
      }
    }
  }
  .content {
    max-width: 300px;
    flex-basis: 300px;


    .kol_vo {
      margin-right: 40px;

      .quantity-box {
        &:after {
          content: 'Шт.';
          font-size: 12px;
          color: #a4a4a4;
        }
      }
      
      .quantity-input {
        width: 35px;
        height: 27px;
        text-align: center;
        border: 1px solid #666;
        box-sizing: border-box;
        font-size: 14px;


      }

      .quantity-minus {
        background: url('/img/back.png') center no-repeat;
        border: 0;
        width: 6px;
        height: 12px;
        cursor: pointer;
        margin-right: 20px;
      }

      .quantity-plus {
        background: url('/img/next.png') center no-repeat;
        border: 0;
        width: 6px;
        height: 12px;
        cursor: pointer;
        margin-left: 8px;
      }
    }

    .addtocart-bar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    input.addtocart-button {
      background-color: $orange;
      color: #fff;
      height: 48px;
      width: 132px;
      text-transform: uppercase;
      font-size: 14px;
      border: none;
      box-shadow: none;
      transition: all 0.3s;
      cursor: pointer;
      box-sizing: border-box;
      padding-left: 48px;
      background-image: url('../img/cart.png');
      background-repeat: no-repeat;
      background-position: 22px 14px;

      &:hover {
        background-color: $orangeDark;
      }
    }
    
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 50px;
      color: $black;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      color: $grey;
      margin-top: 0;
      margin-bottom: 23px;
    }
  }
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;

  &.done {
    opacity: 0;
    visibility: hidden;
  }
}

.ovh {
  overflow: hidden!important;
}

.loader {
  width: 150px;
  animation: loader 2s infinite ease-in-out;
  animation-fill-mode: forwards;

  & img {
    width: 100%;
  }


}

@keyframes loader {
  0% {
    transform:translateY(0px)
  }
  50%{
    transform:translateY(20px)
  }
  100%{
    transform:translateY(0px)
  }
  }


a {
  transition: all 0.3s;
}

a:hover {
  text-decoration: none!important;
}

.cafe {
  margin-top: 85px;

  .item {
    margin-bottom: 63px;

    .image {
      position: relative;
      height: 335px;
      width: 100%;
      flex-basis: 555px;
      background: #000;
      overflow: hidden;

      .bg {
        transition: all 1s;
      }
    }

    .text {
      flex-basis: 460px;

      h3 {
        text-transform: none;
        font-size: 30px;
        font-weight: bold;
        max-width: 270px;
        margin-bottom: 35px;
        transition: all 0.3s;
      }

      p {
        font-size: 18px;
        color: $grey;
      }
    }

    &.reverse {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .text {
        padding-left: 30px;
      }
    }

    &:hover {
      h3 {
        color: $orange;
      }

      .image {
        .bg {
          opacity: 0.6;
          transform: scale(1.1);
        }
      }
    }
  }
}

.section-p {
  text-align: center;
  font-size: 18px;
  max-width: 560px;
  margin: auto;
  line-height: 1.5;

  &.big {
    max-width: 780px;
  }
}

.contacts {
  margin-bottom: 40px;
  margin-top: 70px;
  .item {
    color: $orange;
    max-width: 280px;
    flex-basis: 280px;
    font-size: 16px;
    align-items: center;
    margin-bottom: 20px;

    .text {
      flex-basis: 220px;
    }
  }
}

.about {
  .cols {
    .col-1 {
      max-width: 750px;
    }

    .col-2 {
      max-width: 350px;
      color: $orange;
    }
  }
}

.cats {
  margin-top: 50px;
  margin-bottom: 50px;

  .item {
    position: relative;
    max-width: 360px;
    flex-basis: 360px;
    padding-bottom: 20px;
    padding-top: 50px;
    height: 420px;
    background: #000;
    overflow: hidden;
    margin-bottom: 20px;
    
    .bg {
      transition: all 1s;
    }

    &:hover .bg {
      opacity: 0.5;
      transform: scale(1.1) translate(20px);
    }

    .content {
      max-width: 250px;
      position: relative;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h3 {
      position: relative;
      color: $yellow;
      font-weight: bold;
      font-size: 30px;
      text-transform: none;
      line-height: 1;
    }

    p {
      position: relative;
      font-size: 16px;
      color: #ffffff;
      max-width: 210px;
      padding-left: 33px;
      box-sizing: border-box;
      border-left: 1px solid #fff;
    }

    .button {
      position: relative;
    }
  }
}



.section {
  padding-top: 60px;
  padding-bottom: 100px;

  &.grey {
    background: $light_grey;
  }

  &.fransh {
    .img {
      max-width: 610px;
      flex-basis: 610px;
      img {
        max-width: 610px;
      }
    }

    .content {
      text-align: center;
      max-width: 450px;

      .button {
        margin: auto;
      }
    }


  }

  h3 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

.white-text {
  color: #fff;

  & h2 , & h3 , & h4 {
    color: #ffffff;
  }
}

.fb100 {
  flex-basis: 100%;
}

.bg-section {
  position: relative;
  min-height: 360px;
  text-align: center;
  background: #000;
  overflow: hidden;

  h2 {
    color: #ffffff;
    margin-bottom: 45px;
  }

  ol {
    counter-reset: myCounter;
    padding: 0;
    column-count: 2;
    text-align: left;
    list-style: none;
    flex-basis: 750px;
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;

    li {
      position: relative;
      padding-left: 68px;
      min-height: 40px;
      display: block;
      margin-bottom: 33px;
      font-size: 16px;

      &:before {
        counter-increment:myCounter;
        content: counter(myCounter);
        font-size: 48px;
        font-weight: 300;
        position: absolute;
        left: 30px;
        top: 18px;
        line-height: 0;
      }

      &:after {
        content: '0';
        font-size: 48px;
        font-weight: 300;
        position: absolute;
        left: 0;
        top: 18px;
        line-height: 0;
      }
    }
  }

  p {
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
  }


  

  .custom {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
  }

  .bg {
    background-attachment: fixed;
    opacity: 0.9;
    transition: all 1s;
  }

  &:hover {
    &>.bg {
      opacity: 0.7;
      transform: scale(1.1);
    }


    & h3 , & h2 {
      color: #ffffff;
    }
  }



  .button {
    margin: auto;
  }


  &.bg-section-big {
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 530px;

    .content {
      .button {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  & h3 , & h2 {
    transition: all 0.3s;
  }
}

.gallery-slider {
  .slick-prev {
    left: 5%;
  }

  .slick-next {
    right: 5%;
  }

  .slick-slide {
    height: auto;
  }

  .slide {
    position: relative;
    background: #000;
    min-height: 364px;
    width: 100%;
    cursor: pointer;
    display: block;

    .bg {
      transition: all 0.3s;
    }

    &:hover {
      .bg {
        opacity: 0.5;
      }
    }
  }


}

.phrase {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h3 {
    text-transform: none;
    font-size: 28px;
    margin-bottom: 25px;
    color: $grey;
  }

  p {
    text-transform: uppercase;
    font-size: 13px;
    color: $black;
    margin-bottom: 0;
  }
}

.why-order {
  .item {
    text-align: center;

    strong {
      display: block;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .phone {
      font-size: 36px;
      color: $orange;
    }

    .mail {
      text-decoration: underline;
      font-size: 24px;
    }
  }
}



.breadcrumb {
  font-size: 12px;
  padding-top: 10px;
 
  ul {
    margin: 0;

    li {
      display: inline-block;
      a {
        color: $grey;
        text-decoration: underline;
        
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.achivements {
  padding-top: 30px;

  .item {
    color: $grey;
    font-weight: 600;
    margin-bottom: 20px;

    .img {
      height: 96px;
      overflow: hidden;
      margin-bottom: 20px;

      img {
        margin: auto;
        display: block;
      }
    }

    p {
      text-align: center;
      margin: auto;
    }
  }
}

.time-steps {
  padding-top: 20px;
  .item {
    
    strong {
      font-size: 48px;
      font-weight: lighter;
      color: $grey;
      transition: all 0.3s;
      display: block;
    }

    p {
      font-size: 16px;
      color: $black;
    }

    &:hover {
      strong {
        color: $orange;
        transform: translateY(-10px);
      }
    }
  }


}

.bg-section.big .container {
  overflow: visible;
}

.sorts-cofee {
  .item {
    text-align: left;
    flex-basis: 360px;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    margin-bottom: 20px;

    .header {
      position: relative;
      padding-top: 35px;
      padding-bottom: 30px;
      transition: all 0.3s;
      filter: grayscale(1);
      
      .bg {
        background-attachment: scroll;
      }

      .content {
        max-width: 290px;
        margin: auto;
        transition: all 0.3s;

        h4 {
          color: #fff;
          font-weight: 600;
          font-size: 24px;
          text-transform: uppercase;
          max-width: 150px;
          position: relative;
          margin: 0;
          line-height: 1;
        }
      }
    }
    

    .body {
      padding: 20px;
      background: #ffffff;
      font-size: 14px;
      color: $grey;

      ul {
        max-width: 290px;
        margin: auto;

        li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &:hover {
       box-shadow: 0 0 60px 1px rgba(0,0,0,.3);
      .header {
        filter: none;
      }
    }
  }
}

.animationup {
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(20px);

  &__play {
    transition: all 0.3s;
    opacity: 1;
    transform: translateY(0);
  }


}

.text-white {
  color: white;

  & h3 , & h4 , & h2 {
    color: white;
  }
}

.sertificates {
  .item {
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    height: 100%;
    display: block;
    max-height: 311px;
    max-width: 402px;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 35px 1px rgba(0,0,0, 0.3);
    }
  }
}





p {
  margin-bottom: 30px;
}

a {
  color: $orange;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}


ul {
  list-style: none;
  padding-left: 0;
}

div {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center!important;
}

.container {
  max-width: 1170px;
  width: 100%;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.phone {
  font-size: 24px;
  color: $black;
}

.phone-block {
  text-align: right;
}



.button {
  color: #ffffff;
  background: $orange;
  padding: 15px;
  text-transform: uppercase;
  display: block;
  max-width: 202px;
  text-align: center;
  font-size: 14px;
  border-radius: 9px;
  line-height: 1;
  transition: all 0.3s;
  padding-top: 13px;
  padding-bottom: 13px;
  
  &:hover {
    color: #ffffff;
    background: $orangeDark;
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.home-slider-wrap {
  position: relative;
  height: 610px;
  overflow: hidden;

  .bg-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .slide {
      position: relative;
      height: 610px;
    }

    .slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      &>div {
        width: 100%;
      }
    }


  }


}

.download {
  background: $light_grey;
  padding-top: 20px;
  padding-bottom: 50px;

  h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
  }

  a {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 15px;
  }
}

.slick-dots {
  bottom: 15px;

  li {

    &.slick-active button {
        background: #fff;
    }

    button {
      border: 1px solid #fff;
      border-radius: 50%;
      width: 9px;
      height: 9px;

      &:before {
        display: none;
      }


    }
  }
}

.text-slider-wrap {
  transition: all 0.3s;
}

.slick-arrow {
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
  opacity: 0.8;
  background: url('../img/arr-right.png') 50% 50% no-repeat;
  transition: all 0.3s;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  &:before {
    display: none;
  }
}

.slick-prev {
  background: url('../img/arr-right.png') 50% 50% no-repeat;

  &:hover , &:focus , &:active {
    background: url('../img/arr-right.png') 50% 50% no-repeat;
  }
}

.slick-next {
  background: url('../img/arr-left.png') 50% 50% no-repeat;

  &:hover , &:focus , &:active {
    background: url('../img/arr-left.png') 50% 50% no-repeat;
  }
}

.text-slider {
  transition: all 0.3s;
  .slick-prev {
    left: 0;
    z-index: 1;
  }

  .slick-next {
    right: 0;
    z-index: 1;
  }

  .slick-slide {
    &>div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .slide {
    .content {
      text-align: center;
      color: #ffffff;
      max-width: 520px;
      margin: auto;

      h2 {
        color: $yellow;
        line-height: 1;
        margin-bottom: 60px;
      }

      p {
        opacity: 0.8;
        max-width: 500px;
        margin: auto;
      }

      .button {
        margin: auto;
        margin-top: 40px;
      }
    }
  }
}

.slider-v2-wrap {
  .text-slider {
    .slide {
      .content {
        max-width: 1000px;

        h2 {
          font-weight: bold;
          color: #fff;
          font-size: 36px;
          line-height: 1.2;
          margin-bottom: 100px;
        }
      }
    }
  }
}

header {
  position: relative;
  z-index: 2; 
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 83px;
    height: 113px;
    background: url('../img/cup.png');
    bottom: -113px;
    left: calc(50% - 40px);
  }

&.content {
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.4);

    &:before {
      display: none;
    }
  }

  .row-1 {
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      margin-bottom: 0;
    }
  }

  .text {
    font-size: 12px;
    max-width: 230px;
  }

  .phone {
    margin-bottom: 8px;
  }

  .nav-menu {
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      
      li {
        a {
          padding-top: 15px;
          padding-bottom: 15px;
          position: relative;
          text-transform: uppercase;
          font-size: 14px;
          transition: all 0.3s;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            box-sizing: border-box;
            background: $orange;
            opacity: 0;
            transition: all 0.3s;
          }

          &:hover::before {
            opacity: 1;
          }
        }
      }
    }
  }


  &.fixed {
    position: fixed;
    transition: all 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    transform: translateY(-100%);
    
    &.visible {
      box-shadow: 0 10px 40px rgba(0,0,0,.2);
      transform: translateY(0);
    }

    &:before {
      display: none;
    }
  }
}


.footer-menu {
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d38663;

    li {
      a {
        text-transform: uppercase;
        font-size: 14px;  

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
} 

footer {
  
  background: $orange;
  color: #ffffff;
  font-size: 12px;

  .row-2 {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  a {
    color: $yellow;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
    }
  }

  .copyright {
    text-align: center;
  }

  .phone {
    color: #ffffff;
  }

  .text {
    max-width: 240px;

    h3 {
      text-transform: none;
      color: #ffffff;
    }
  }
}

.sales {
  .item {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e8e8;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: 0;
    }

    .image {
      position: relative;
      flex-basis: 263px;
      height: 172px;
      background: $yellow;

      &:hover {
        .bg {
          opacity: 0.5;
        }
      }
    }

    .text {
      flex-basis: 850px;

      .date {
        color: $orange;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 600;
      }

      h3 {
        margin-bottom: 20px;
        font-weight: 600;
        color: $black;
        font-size: 30px;

        a {
          color: $black;
          transition: all 0.3s;

          &:hover {
            color: $orange;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

.pagination {
  margin-top: 120px;

  ul {
    margin: 0;
    li {
      display: inline-block;
  
      a {
        display: block;
        width: 55px;
        height: 55px;
        font-weight: bold;
        font-size: 24px;
        border-radius: 50%;
        color: $black;
        line-height: 55px;
        text-align: center;
  
        &:hover {
          background: $orange;
          color: #fff;
        }
      }
    }
  }
}

.pt0 {
  padding-top: 0!important;
}

.mobile-toggler {
  width: 32px;
  height: 32px;
  border: 2px solid $orange;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;

  & span {
    width: 16px;
    height: 2px;
    display: block;
    background: $orange;
    position: absolute;
    left: 6px;
    transition: all 0.3s;

    &:nth-child(1)
    {
      top: 9px;
    }

    &:nth-child(2)
    {
      top: 14px;
    }

    &:nth-child(3)
    {
      top: 19px;
    }
  }

  &.open {
    span {
      &:nth-child(1)
      {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }
  
      &:nth-child(2)
      {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }
  
      &:nth-child(3)
      {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
    }
  }
}

.mobile-menu {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
  display: none;

  &:before {
    content: '';
    display: block;
    width: 102px;
    height: 1px;
    background: $orange;
    position: absolute;
    bottom: 0;
    left: calc(50% - 51px);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 15px;
      a {
        font-size: 24px;
        text-transform: uppercase;
        color: $black;
      }
    }
  }
}

@media screen and (max-width: 1169px)
{

  .bg-section {
    .bg {
      background-attachment: scroll;
    }
  }

  .sorts-cofee{
    .item {
      flex-basis: 315px;
    }
  }

  .sertificates {
    align-items: flex-end;

    .item {
      flex-basis: 315px;
      max-height: 100%;
      img {
        width: 100%;
      }
    }
  }

  .sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      max-width: 335px;
      flex-basis: 335px;
      margin-left: 15px;
      margin-right: 15px;

      .image {
        flex-basis: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }

      &:first-child {
        padding-top: 40px;
      }

      &:last-child {
        padding-bottom: 40px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }

  .contacts {
    flex-direction: column;
    align-items: center;

    .item {
      flex-basis: auto;
      width: 100%;
    }
  }

  .achivements {
    .item {
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .content-section {
    padding-top: 20px;
  }

  .cafe {
    max-width: 738px;
    margin-left: auto;
    margin-right: auto;
   .item {
     .image {
       flex-basis: 367px;
     }
     
     .text {
      flex-basis: 300px;
     }
   }
  }




  .cats {
    margin-bottom: 0;
    flex-grow: 1;
    max-width: 750px;
    margin: auto;

    .item {
      max-width: 100%;
    }
  }

  .section.fransh {
    .img {
      margin: auto;
    }

    .content {
      margin: auto;
    }
  }

  footer {
    .row-2 {
      padding-top: 35px;
      padding-bottom: 40px;
    }
  }

  .about .cols {
    .col-1 {
      flex-basis: 100%;
      max-width: 100%;
    }

    .col-2 {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .why-order {
    flex-direction: column;
    align-items: center;

    .item {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 970px)
{
  .sertificates {
    justify-content: center;

    .item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .sorts-cofee {
    justify-content: center;

    .item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 767px)
{

  .product-info {
    .images {
      margin: auto;
      margin-bottom: 30px;
    }
    

    .content {
      margin: auto;
      margin-bottom: 30px;

      .kol_vo {
        margin-right: 30px;
      }
    }



  }



  .product-container {
    .vm-product-media-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  

  .pagination {
    margin-top: 40px;
  }

  .sales {
    .item {
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .breadcrumb {
    margin-bottom: 30px;
  }
  
  .cafe {
    .item {
      flex-direction: column;
      justify-content: flex-start;

      .text {
        flex-basis: auto;
        max-width: 555px;

      }

      .image {
        flex-basis: auto;
        max-width: 555px;
      }

      &.reverse {
        flex-direction: column;

        .text {
          padding: 0;
        }
      }
    }
  }

  .sertificates {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .item {
      max-height: 100%;
      max-width: 300px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: none;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .sorts-cofee {
    .item {
      .header {
        filter: none;
      }
    }
  }

  .bg-section {

    .bg {
      background-attachment: scroll;
      opacity: 0.9;
    }

    ol {
      column-count: 1;

      li {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
      }
    }
  }

  .why-order {
    .item {
      .phone {
        font-size: 24px;
      }
    }
  }

  .section {
    h3 {
      font-size: 24px;
    }
  }

  .achivements {
    flex-direction: column;
  }

  .time-steps {
    flex-direction: column;

    .item {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  .mobile-toggler {
    display: block;
    z-index: 1;
  }

  header {
    &:before {
      display: none;
    }

    .text {
      display: none;
    }

    .row-1 {
      padding-top: 5px;
      padding-bottom: 25px;

      .container {
        flex-direction: column;
        align-items: center;

        .logo {
          img {
            max-width: 120px;
          }
        }
      }
    }

    .row-2 {
      display: none;
    }
  }

  .footer-menu {
    max-width: 320px;

    ul {
      display: block;
      column-count: 2;

      li {
        margin-bottom: 5px;
      }
    }
  }

  footer {
    .text {
      text-align: center;
      margin: auto;
    }

    .copyright {
      display: none;
    }

    .phone-block {
      text-align: center;
      margin: auto;
    }
  }

  h2 {
    font-size: 24px!important;
    margin-bottom: 30px!important;
  }

  .slick-arrow {
    display: none;
  }

  
}

